body {
    font-size: 14px;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    width: 100%;
    padding: 3rem 0;
    background-color: #16191f;
    color: white;
    text-align: center;
}

h2 {
    padding: 1rem;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.grid-item {
    flex: 0 0 75%;
}

.two-grid-item {
    flex: 0 0 50%;
}

.divider {
    border-right: 1px solid #16191f;
}

.inner-container {
    padding: 2rem 2rem 0 2rem;
}

#name-input, #phone-input, #email-input, select, button {
    width: 50%;
    padding: .6rem 1.2rem;
    margin: 8px 0;
    border-radius: 4px;
}

input:invalid, select:invalid {
    outline: none;
    border-color: red;
    border-width: 1px;
    border-style: solid;
}

input:valid, select:valid {
    border-style: auto;
    border-color: inherit;
}

button {
    background-color: #ec7211;
    color: white;
}

.padding-above {
    padding-top: 1rem;
}

.padding-below {
    padding-bottom: 1rem;
}

.padding-below-small {
    padding-bottom: .25rem;
}

.hidden {
    display: none;
}
